@page "/make-visit"
@using Przychodnia.Client.Models
@using Przychodnia.Shared

@inject HttpClient http
@inject NavigationManager uriHelper

<div class="d-flex justify-content-center">
    <div style="padding: 50px 0px">
        <RadzenCard>
            <RadzenTemplateForm Data="@visit" Submit="@((Visit args) => { Submit(args); })">
                <h3 class="mb-4 px-4 d-flex justify-content-center">Umów wizytę</h3>
                <RadzenFieldset Style="border: none;">
                    <div class="row form-group">
                        <div class="col">
                            <RadzenLabel Text="Rodzaj wizyty" />
                        </div>
                        <div class="col">
                            <RadzenDropDown @bind-Value="visit.Name" TValue="string" Placeholder="Wybierz" Data=@categories>

                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <RadzenLabel Text="Lekarz" />
                        </div>
                        <div class="col">
                            <RadzenDropDown TValue="string" Placeholder="Wybierz" Data=@doctors TextProperty="Name" ValueProperty="ID">

                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <RadzenLabel Text="Dzień" />
                        </div>
                        <div class="col">
                            <RadzenDatePicker @bind-Value=@dateDay DateFormat="d" Change=@OnChange />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <RadzenLabel Text="Godzina" />
                        </div>
                        <div class="col">
                            <RadzenDropDown @bind-Value=@dateHour TValue="int" Placeholder="Wybierz" Data=@hours TextProperty="Text" ValueProperty="Value">

                            </RadzenDropDown>
                        </div>
                    </div>
                </RadzenFieldset>
                <div class="mb-4 px-4 d-flex justify-content-center">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Zatwierdź"/>
                </div>
            </RadzenTemplateForm>
        </RadzenCard>
    </div>
</div>

@code {
    Visit visit = new Visit();
    DateTime? dateDay = DateTime.Today;
    int dateHour;

    string[] categories =
                        {
            "Kanałowe",
            "Wizyta kontrolna",
            "Borowanko"
        };

    Hour[] hours =
                        {
            new Hour
            {
                Text="14:00",
                Value = 14
            },
            new Hour
            {
                Text="15:00",
                Value = 15
            },
            new Hour
            {
                Text="16:00",
                Value = 16
            },
            new Hour
            {
                Text="17:00",
                Value = 17
            },
        };

    User[] doctors =
                        {
            new User
            {
                Name = "Darek",
                Surname = "Daliborek"
            },
            new User
            {
                Name = "Marek",
                Surname = "Mojżesz"
            },
            new User
            {
                Name = "Czarek",
                Surname = "Czapla"
            },
        };

    void OnChange(DateTime? value)
    {

    }

    async Task Submit(Visit args)
    {
        if (dateDay != null)
        {
            DateTime temp = (DateTime)dateDay;
            temp.AddHours(dateHour);

            await http.PostAsJsonAsync("api/visits", visit);
            uriHelper.NavigateTo("home");


            Console.WriteLine("Baza danych, wysłać maile i wyświetlić stronę wizyta stworzona");
        }
    }
}
